body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  padding: 6px 8px;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.legend i {
  width: 35px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.info_legend {
  padding: 107px 2px;
  width: 5px;
  height: 18px;
  float: right;
  margin-right: 8px;
  opacity: 1;
 }